.App {
  text-align: center;
  background-color: #d3d3d3; /* Sets the background color to light grey */
}

.content {
  margin: 2rem;
}

/* Dropdowns.css */

.dropdowns-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the dropdowns */
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 0px;
  
}

